body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
}

button{
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 20px;
    background-color: lightgreen;
    color: red;
    cursor: pointer;
}